@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


$basic-color: #2b770a;
$basic-color-hover: #263321;
$second-color: #ebebeb;
$btns-color: #4e4a4b;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:not(.slick-track):not(.slick-list){
  transition: all 0.5s ease-out;
}
body{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  

  background-color: #fff;
}
a{
  color: #000000;
  text-decoration: none;
  outline: none;
  background-color: transparent;
}
a:hover, a:focus, a:active{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
li{
 list-style: none;
}
button{
  background-color: $basic-color;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 4px;
}
button:hover{
  cursor: pointer;
}
:focus{
  outline: none;
}




.d-none{
  display: none;
}
.d-block{
  display: block;
}


//-------------------HEADER--------------------
.header{
  padding: 5px 0;

  &_logo{
    display: flex;
  }

  &_icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;


    .icon{
      margin-right: 10px;
      font-size: 20px;
      font-weight: bold;
      min-width: 20px;
    }
    
  }

}
.nav-top{
  display: none;
  padding: 10px 0;
  &--links{
    transition: none;
    padding: 5px 15px;
    border-bottom: 1px solid $basic-color-hover;
  }
  &--links>a{
    transition: none;
  }
  &--links:first-child{
    border-top: 1px solid $basic-color-hover;
  }
  &--links:hover>a{
   color: $basic-color;
  }
}

//-------------Slick---------------------------
.slick-dotted.slick-slider{
  margin-top: 0;
  margin-bottom: 0;
}
.slick-dots{
  bottom: 10%;
  & li button{
    background-color: #ebebeb;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  & li.slick-active button{
    background-color: $btns-color;
  }
  & li.slick-active button{
    background-color: $btns-color;
  }
  & li button::before,& li button:hover:before, & li button:focus:before,& li.slick-active button:before {
    opacity: 0;
  }
}



//---------------Categoris----------------------
.categories{
  &__title{
    padding: 10px 15px;

    border-radius: 4px 4px 0 0;
    text-transform: uppercase;

    background-color: $basic-color-hover;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    i{
      padding-right: 10px;
      min-width: 28px;
    }
  }
  &__menu{
    display: none;
    position: relative;
  }
}
.nav-left{
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 500;
  &__item{
    display: flex;
    align-items: center;
    position: relative;

    font-size: 15px;
    font-weight: 500;

    min-height: 57px;
    padding-left: 20px;

    border-bottom: 1px solid #263321;
  }
  &__item:hover{
    cursor: pointer;
    background-color: #eee;
  }
  &_icon{
    min-width: 40px;
    text-align: center;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }

  .parent{
    i{
      position: absolute;
      right: 30px;
      color:$basic-color;
      font-size: 20px;
    }
    &:hover{
      &>i{
        right: 20px;
      }
     
    }
  }
}
.parent:hover{
  &>.submenu{
    display: block;
  }
}
.submenu{
    display: none;
    position: absolute;
    top: 115%;
    left: 0;

    width: 100%;
    background-color: #fff;
    z-index: 10;
    border: 1px solid #263321;
    &__item{
      display: flex;
      align-items: center;
      position: relative;

      min-height: 57px;
  
      font-size: 15px;
      font-weight: 500;
  
      padding: 7px 30px 7px 20px;
  
      border-bottom: 1px solid #263321;
    }
}
// -------------------Search ----------------------

.search{
  display: flex;
  &__input{
    width: 100%;

    padding: 10px 20px;

    font-size: 18px;

    border: 1px solid $basic-color-hover;
    outline: none;
  }
  &__btn{
    padding: 10px 20px;
    background-color: $basic-color-hover;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0;
    font-size: 20px;
    &:hover{
      cursor: pointer;
    }
  }
}
//-------------------Baner------------------------
.banner{
 padding-top: 10px;
 padding-bottom: 10px;
 overflow: hidden;
 &_item{
  &>a{
    display: block;
  }
 }

}
//----------------------Services-------------------
.services{
  padding-top: 10px;
  padding-bottom: 25px;

  &_item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110px;

    background-color: rgb(235, 235, 235);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img{
    border-right:  1px solid $basic-color-hover;
    padding-right: 20px;
  }
  &_title{
    font-size: 25px;
    font-weight: lighter;
    padding-left: 20px;
    text-transform: uppercase;
  }
  &_item:hover{
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

//----------------------Products-------------------

.products{
  padding-bottom: 25px;

  &_item{
    position: relative;
    display: flex;
    padding: 30px 10px 30px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
    

    background-position: 90% 90%;
    background-repeat: no-repeat;
    background-size: 30%;
  }
  &_item:hover{
    cursor: pointer;
    background-size: 70%;
  }
  &_info{
    width: 60%;
  }
  &_title{
      font-size: 24px;
      color: $basic-color;
      text-transform: uppercase;
      line-height: 1;
  }
  &_more{
    display: none;
    font-size: 16px;
    font-weight: normal;
    color: $btns-color;
  }

}


//-------------------Popular-------------------------
.popular{
  padding-top: 20px;
  padding-bottom: 50px;
  overflow: hidden;
  &_item{
    position: relative;
    &-link{
      position: relative;
      display: block;
    }
    &-disc{
      position: absolute;
      z-index: 200;
      bottom: 10px;
      right: 10px;
      width: 72px;
      height: 74px;
      background: url(/img/stick_disc.png) no-repeat center;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 0 #ba3434;
      font-weight: bold;
      font-size: 23px;
      line-height: 74px;
    }
    &-img{
      position: relative;
      z-index: 100;
    }
    &-controls{
      display: flex;
      flex-flow: column;
      position: relative;
      top:-80px;
      .quantity{
        display: flex;
        justify-content: center;
        &-btns{
          width: 30px;
          height: 30px;
          font-size: 20px;
        }
        &-input{
          width: 40px;
          border-radius: 4px;
          margin: 0 10px;
          text-align: center;
        }
      }
      .btn-buy{
        width: 120px;
        height: 30px;
        font-size: 20px;
        margin: 10px auto;
      }
    }
    &-title{
      position: relative;
      top:-80px;
      font-size: 20px;
      line-height: 1.2;
      font-weight: normal;
    }
    &-price{
      position: relative;
      top:-80px;
      text-align: right;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.2;
      color: #ff602a;
      &>span:not(&-disc){
        font-size: 18px;
        line-height: 1.2;
        vertical-align: baseline;
        font-weight: normal;

      }
      &-disc{
        text-decoration: line-through;
        font-size: 18px;
        padding-left: 20px;
        color: $btns-color;
        font-weight: lighter;
      }
    }
  }

  &_item:hover{
    & .popular_item-controls,& .popular_item-title,& .popular_item-price{
      top: 0;
      transition: all 0.5s ease;
    }
    
    & .popular_item-title{
      transition-delay: 0.1s;
    }

    & .popular_item-controls{
      transition-delay: 0.2s;
    }
  }

  .slick-slide {
    margin: 0 10px;
}
  .slick-list {
      margin: 0 -10px;
  }
  .slick-prev, .slick-next{
    background-color: #4d4a4a;
    border-radius: 3px;
    color: #fff;
    top: 45%;
    z-index: 200;
    width: 40px;
    height: 40px;
  }
  .slick-prev{
    left: -10px;
  }
  .slick-next{
    right: -10px;
  }
  .slick-prev::before, .slick-next::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 30px;
  }
  .slick-prev::before{
    content: "\f104";
  }
  .slick-next::before{
    content: "\f105";
  }
  
}

//------------------Video-------------------
.video{
  &_wraper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}
//------------------News--------------
.news{
  padding-top: 50px;
  padding-bottom: 25px;

  &_title{
    font-size: 24px;
    color: $basic-color;
    text-transform: uppercase;
    line-height: 1;
    text-decoration: underline;
    padding-bottom: 30px;
    width: fit-content;
  }
  &_title:hover{
    cursor: pointer;
    text-decoration: none;
  }
  &_item{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.18);
    margin-bottom: 20px;
    &:hover{
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.18);
    }
    &-info{
      padding: 20px;
      display: flex;
      flex-flow: column;
    }
    &-title{
        font-size: 20px;
        color: $basic-color;
        line-height: 1.2;   
        min-height: 58px;
    }

    &-text{
        font-size: 14px;
        line-height: 1.2;
        padding-bottom: 10px;
        min-height: 74px;
    }
    &-more{
      align-self: flex-end;
      color: $btns-color;
      &:hover{
        color: $basic-color;
      }
    }
   
  }
}

//-------------------Footer--------------------
.footer{
  background-color: #e8e8e8;
  padding-top: 40px;
  .row{
    padding-bottom: 20px;
  }
  &_subscribe{
    text-align: center;
    padding-bottom: 30px;
  }
  &_text{
    line-height: 1.5;
    font-weight: bolder;
    padding-bottom: 10px;
  }
  &_subtext{
    font-size: 14px;
  }
  &_menu,&_categories{
    display: flex;
    flex-flow: column;
    font-weight: 500;
    padding-bottom: 30px;
    text-align: center;
  }
  &_menu>a:hover,&_categories>a:hover{
    
    color: $basic-color;
  }
  &_schedule{
    text-align: center;
    .footer_text{
      font-weight: normal;
    }
  }
  &_phone{
    display: block;
    &:before{
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; 
      display: inline-block;
      content: "\f879";
      padding-right: 10px;
    }
  }
  &_social{
    a{
      font-size: 40px;
      margin-right: 20px;
      &:hover>i{
        color: $basic-color;
      }
    }
  }
  &_copyright{
    padding-top: 20px;

    color: #fff;
    background-color: $basic-color-hover;
    text-align: center;
  }
  .subscribe{
    display: flex;
    &_input{
      width: 80%;
      padding: 10px 20px;

      font-size: 18px;
  
      border: 1px solid $basic-color-hover;
      outline: none;
    }
    &_btn{
      flex-grow: 1;
      background-color: $btns-color;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 0;
      font-size: 20px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}



//-------------------SHop--------------------
.shop{
  &_products{
    display: flex;
    flex-flow: row wrap;
  }
  &_info{
    margin-bottom: 40px;
    position: relative;
    height: 145px;
    overflow: hidden;
    h3{
      font-size: 30px;
      color: $basic-color;
      padding-bottom: 20px;
      line-height: 1.2;
    }
    h5{
      font-size: 20px;
      color: $basic-color;
      padding-bottom: 10px;
    }
    p{
      font-size: 14px;
      padding-bottom: 20px;
      line-height: 1.5;
    }
    ul,ol{
      font-size: 14px;
      padding-bottom: 20px;
      line-height: 1.5;
      padding-inline-start: 40px;
    }
    ul>li{
      list-style-type: disc;
    }
    ol>li{
      list-style-type: decimal;
    }
    &-more{
      position: absolute;
      top: 120px;
      width: 100%;
      text-align: right;
      background-color: #fff;
      a{
        color: $basic-color;
      }
    }
  }
  &_filter{
    background-color: #eefcea;
    padding: 10px;
    margin-bottom: 30px;
    &-title{
      text-align: center;
      font-size: 20px;
      padding-bottom: 20px;
    }
    .smartfilter{
      display: flex;
      flex-flow: column;
      input[type="text"]{
        width: 100%;
        border: 1px solid #ccd5db;
        font-size: 18px;
        height: 38px;
        padding: 0 4px;
        outline: 0;
        border-radius: 2px;
        margin-bottom: 20px;
      }
      input:focus{
        border-color: #3bc915;
      }
      &_title{
        padding-bottom: 10px;
        &:hover{
          cursor: pointer;
        }
        i{
          color: $basic-color;
          vertical-align: middle;
        }
      }
      &_body{
        display: none;
        padding-bottom: 20px;
      }
      &_controls{
        display: flex;
        justify-content: space-around;
        button{
          padding: 10px 20px;
        }
      }
      &_clear{
        background-color: #fff;
        color: black;
      }
    }
  }
  &_banner{
    display: block;
  }
  &_sort{
    display: flex;
    padding-bottom: 20px;
    justify-content: flex-end;
    align-items: center;
    label{
      padding-right: 10px;
      font-size: 15px;
    }
    select{
      padding: 5px;
      font-size: 14px;
    }
    option{
      padding: 5px 10px;
    }
  }
}
.breadcrumb{
  padding: 20px 0;
  &_item{
    font-size: 18px;
    &::after{
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; 
      font-size: 15px;
      content: '\f105';
      padding: 0 10px;
    }
    &:hover{
      color: $basic-color;
    }
    &:last-child{
      color: $basic-color;
      pointer-events: none;
      &::after{
        content: "";
      }
    }
  }
}
.product{
  position: relative;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  &_link{
    position: relative;
    display: block;
  }
  &_disc{
    position: absolute;
    z-index: 200;
    bottom: 10px;
    right: 10px;
    width: 45px;
    height: 47px;
    background: url(/img/stick_disc.png) no-repeat center;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #ba3434;
    font-weight: bold;
    font-size: 14px;
    line-height: 3.5;
    background-size: 100%;
  }
  &_img{
    position: relative;
    z-index: 100;
  }
  &_controls{
    display: flex;
    flex-flow: column;
    position: relative;
    top:-80px;
    .quantity{
      display: flex;
      justify-content: center;
      &-btns{
        width: 30px;
        height: 30px;
        font-size: 20px;
      }
      &-input{
        width: 40px;
        border-radius: 4px;
        margin: 0 10px;
        text-align: center;
      }
    }
    .btn-buy{
      width: 100%;
      max-width: 120px;
      height: 30px;
      font-size: 20px;
      margin: 10px auto;
    }
  }
  &_title{
    position: relative;
    top:-80px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
  }
  &_price{
    position: relative;
    top:-80px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: #ff602a;
    &>span:not(&-disc){
      font-size: 18px;
      line-height: 1.2;
      vertical-align: baseline;
      font-weight: normal;

    }
    &-disc{
      text-decoration: line-through;
      font-size: 15px;
      padding-left: 20px;
      color: $btns-color;
      font-weight: lighter;
    }
  }
  &:hover{
    & .product_controls,& .product_title,& .product_price{
      top: 0;
      transition: all 0.5s ease;
    }
    
    & .product_title{
      transition-delay: 0.1s;
    }

    & .product_controls{
      transition-delay: 0.2s;
    }
  }

}
.pagination{
  text-align: center;
  padding: 20px 0;
  & li{
    display: inline-block;
    padding: 0 3px;
  }
  &_link{
    display: block;
    background-color: #e8e8e8;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 2.4;
    font-size: 14px;
    &:hover{
      background-color: #c2c2c2;
    }
  }
  &_active{
    background-color: $basic-color;
    color: #fff;
    pointer-events: none;
  }
  & &_next, & &_prev{
    display: block;
    padding: 10px;
  }
  &_next>a,&_prev>a{
    width: 100px;
    border: 2px solid #eff0f1;
    background-color: #fff;
    border-radius: 16px;
    padding: 5px 15px;
    &:hover{
      border-color: #dadada;
    }
  }
}
.watched{
  padding-bottom: 10px;
  &_title{
    text-align: center;
    color: $basic-color;
    font-size: 20px;
  }
  &_product{
    display: flex;
    flex-flow: row wrap;
    .product{
      max-width: 220px;
    }
  }
}
//----------slider-range--------
.irs--flat .irs-bar,.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single,.irs--flat .irs-handle>i:first-child{
  background-color: $basic-color;
}

//----------------------Product-card-----------------

.product-card{
  &_title{
    font-size: 30px;
    line-height: 1.3;
    color: #010101;
    font-weight: 500;
  }
  &_image{
    &-slider{
      li{
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        border: 1px solid $basic-color;
        &:last-child{
          margin-right: 0;
        }
      }
      li>span{
        width: 70px;
        height: 70px;
        display: block;
        background-size: contain;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  &_stock{
    color: $basic-color;
    text-align: right;
    font-size: 18px;
  }
  &_price{
    color: #ff602a;
    font-size: 44px;
    font-weight: bold;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    span{
      font-size: 35px;
      font-weight: normal;
    }
    p{
      margin-left: -20px;
      color: #9e9e9e;
      font-size: 14px;
      font-weight: normal;
    }
  }
  &_controls{
    display: flex;
    padding-bottom: 20px;
    .quantity{
      width: 28px;
      line-height: 28px;
      font-size: 22px;
      align-self: center;
      &_input{
        width: 50px;
        text-align: center;
        font-size: 22px;
        align-self: center;
        border-radius: 4px;
        margin: 0 5px;

      }
    }
    &-buy{
      margin-left: 20px;
      padding: 18px 45px;
      font-size: 20px;
    }
  }
  &_desc{
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 20px;
  }
  &_social{
    font-size: 25px;
  }
  &_right{
    border: 1px solid #ebebeb;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    p{
      font-weight: 500;
      font-size: 18px;
    }
    dl{
      padding: 10px 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      font-size: 15px;
    }
    dt{
      width: 80%;
    }
    dd{
      font-weight: 500;
    }
  }
  &_delivery-img{
    margin: 10px auto;
  }
  &_tabs{
    display: flex;
    padding-top: 50px;
    flex-flow: column;
    align-items: center;
    &-item{
      font-size: 20px;
      padding-bottom: 10px;
      margin-right: 30px;
      margin-bottom: 10px;
      text-align: center;
    }
    &-link{
      color: #b9b9b9;
      &:hover{
        color: #000;
      }
    }
    .active{
      border-bottom: 4px solid $basic-color;
      border-radius: 4px;
      a{
        color: #000;
      }
    }
  }
}









// ---------------MEDIA------------------------
@import 'css/media.scss';